.manga-global{
    display: grid;
    grid-template-columns: 1fr 4fr;
}

.manga-filters{
    display: flex;
    flex-direction: row;
    gap: 4dvh;
    margin-left: 2dvh;

}

.manga-section{
    text-align: center;
    position: sticky;
}

.manga-list{
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Dos columnas */
    gap: 10px; /* Espaciado entre los elementos */
    padding: 20px;
}

.manga-filters input{
    margin-top: 1.3dvh;
    height: 3dvh;
}